#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}
